* {
  margin: 0px;
  padding: 0px;
}

.introduction {
  margin-top: 50px;
  margin-left: 50px;
  padding:20px;
  background-color: gray;
  width: 740px;
}

h1 {
  color: blue;
  font-size: 24px;
}

p {
  font-size: 14px;
  padding-top: 8px;
}

p:first-child {
  padding-top: 12px;
}

.pink_color {
  background-color: pink;
  padding: 20px;
  width: 540px;
  margin: 0 auto;
  margin-top: 50px;

}
